@charset "utf-8";
/*清除默认样式*/
body,p,ul,li,a,input{margin:0;padding:0;text-decoration:none;list-style: none;color:#000;}

body{
    position:relative;
    font-size: 0.2rem;
}

/*轮播图*/
.content .imgBox{
    height:230px;
    overflow: hidden;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    position: relative;
    top:-0.8rem;
    overflow: hidden;
}
.content .imgBox .bx-viewport{
    height:230px !important;
    overflow: hidden;
}
.bx-controls{
    position: absolute;
    left:44%;
}
.imgBox ul li a img{
    width:100%;
}
.imgBox ul li .slider-title{
    position: absolute;
    bottom: 2.95rem;
    line-height: 1.2;
    left: 0;
    padding: 0 .48rem;
    font-weight: 300;
    font-size: .35rem;
    color: #fff;
}
/*头部样式*/
.header{
    display: flex;
}
.header .list-header{
    top: 0;
    z-index: 4;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #00a2ea;
    display: -webkit-box;
    display: -webkit-flex;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.header .list-header .header-icon{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.header .list-header img{
    margin-top: 5px;
}
.header .list-header .header-content{
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
    padding-left: .05rem;
}
.header .list-header .header-content p a{
    color:#FFF;
    font-size: 0.25rem;
}
.header .list-header .changeCol{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

/*homepage样式*/
.homeContent{
    width:100%;
    overflow: hidden;
}
.homeContent ul li a{
    display: flex;
    height:1.0rem;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0.15rem;
    padding:0.15rem 0 0.15rem 0;
}
.homeContent ul li a span{
    flex:8;
    font-size:0.25rem;
    height:0.9rem;
    line-height: 0.5rem;
    overflow: hidden;
    margin-right: 0.1rem;
}
.homeContent ul li a div{
    flex:2;
}
.homeContent ul li a div img{
    width:1.0rem;
    height:0.9rem;
}
.homeContent ul .more{
    font-size: 0.25rem;
    text-align: center;
    padding: 0.1rem;
}
/*detail详细页样式*/
.home-detail .detail-header .detail-header-img img{
    width:100%;
    height:4.33rem;
}
.home-detail .detail-content{
    padding:0.15rem;
    line-height: 0.4rem;
    font-size: 0.28rem;
}
.home-detail .detail-content h1{
    line-height: 0.6rem;
    font-size: 0.4rem;
}
.home-detail .detail-content .meta .avatar{
    width:0.3rem;
    height:0.3rem;
    border-radius: 5px;
    margin-right: .133rem;
}
.home-detail .detail-content .content img{
    width:100%;
    display: block;
    margin: .3rem auto;
}
.home-detail .detail-content p{
    margin: 0.3rem 0!important;
    color:#616466;
}
.home-detail .detail-content .view-more{
    margin-bottom: .667rem;
    text-align: center;
}
.home-detail .detail-content .view-more a{
    width: 100%;
    display: block;
    height: .6rem;
    line-height: .6rem;
    background: #f0f0f0;
    color: #b8b8b8;
    word-break: break-all;
}
.home-detail .detail-content .question{
    border-top: .133rem solid #f6f6f6;
}
.home-detail .detail-content .question .content a{
    color:#4786b3;
}
.home-detail .detail-footer{
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    left: 0;
    bottom: 0;
}
.home-detail .detail-footer .menu-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    background: #fff;
}
.home-detail .detail-footer .menu-wrapper .menu-item{
    position: relative;
    width: 20%;
    color: #999;
}
.home-detail .detail-footer .menu-wrapper .menu-item img{
    margin: 11px auto;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
}
.home-detail .detail-footer .menu-wrapper .menu-item span{
    position: absolute;
    top: 8px;
    right: 0px;
    width: 24px;
    height: 14px;
    font-size: 12px;
}
/*首页侧边栏样式*/
.wrap{
    z-index: 10;
}
.wrap .sidebar{
    position: fixed;
    width: 60%;
    height: 100%;
    background: #232a30;
    z-index: 12;
    color: #94999d;
    display: flex;
    flex-direction: column;
    left:-60%;
}
.active{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.wrap .sidebar .top{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}
.wrap .sidebar .top .avatar{
    width: 36px;
    border-radius: 50%;
    line-height: 36px;
    margin-right: 12px;
    border: 0;
    vertical-align: middle;
    color: transparent;
    font-size: 0;
}
.wrap .sidebar .top  .name{
    font-size:.3rem;
}
.wrap .sidebar .menubar{
    height: 60px;
    display: flex;
    margin-bottom: 0.1rem;
    padding-bottom: 0.05rem;
}
.wrap .sidebar .menubar div{
    width: 33.3%;
    text-align: center;
    line-height: 1.2;
}
.wrap .sidebar .menubar div .icon{
    font-size: 24px;
}
.wrap .sidebar .menubar div span{
    transform: scale(.75);
    display: inline-block;
    font-size: .25rem;
}
.wrap .sidebar .menu-wrapper{
    padding: 0 20px;
    flex: auto;
    overflow: auto;
}
.wrap .sidebar .menu-wrapper ul{
    padding: 0;
}
.wrap .sidebar .menu-wrapper ul .menu-item{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.wrap .sidebar .menu-wrapper ul .menu-item .menu-item-title{
    color:#FFF !important;
    width:80%;
    font-size: 0.25rem;
    float:left;
}
.wrap .sidebar .menu-wrapper ul .menu-item .menu-item-pic{
    color:#FFF !important;
    width:10%;
    float:right;
}
.wrap .sidebar .foot-menu{
    flex: 0 0 40px;
    line-height: 40px;
    text-align: center;
    display: flex;
}
.wrap .sidebar .foot-menu .foot-menu-lx,.foot-menu-yj{
    width: 50%;
    font-size: .25rem;
}
.wrap .sidebar-mask{
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background: #000;
    opacity: .3;
}

/*主题日报列表页*/
#themListPage{
    display: flex;
    width:100%;
}
#themListPage .themHeader{
    top: 0;
    z-index: 4;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #00a2ea;
    display: -webkit-box;
    display: -webkit-flex;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
#themListPage .themHeader .them-header-bar{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
#themListPage .themHeader .them-header-bar img{
    margin-top: 5px;
}
#themListPage .themHeader .them-header-title{
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
    padding-left: .05rem;
    color: #FFF;
    font-size: 0.25rem;
}
#themListPage .themPic{
    position: absolute;
    width: 100%;
    height:130px;
    overflow: hidden;
}
#themListPage .themPic .them-header-img img{
    width: 100%;
}
#themListPage .themPic .them-header-description{
    position: relative;
    top: -1.0rem;
    font-size: 0.3rem;
    color: #FFF;
    text-align: center;
}
.themContent{
    width:100%;
    overflow: hidden;
    position: relative;
    top:130px;
}
.themHeader .them-header-img img{
    width:100%;
    height:4.33rem;
}
.themContent ul li a{
    display: flex;
    height:1.0rem;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0.15rem;
    padding:0.15rem 0 0.15rem 0;
}
.themContent ul li a span{
    flex:8;
    font-size:0.25rem;
    height:0.9rem;
    line-height: 0.5rem;
    overflow: hidden;
    margin-right: 0.1rem;
}
.themContent ul li a div{
    flex:2;
}
.themContent ul li a div img{
    width:1.0rem;
    height:0.9rem;
}

/*主题日报详情页细览样式*/
.home-detail .detail-recommender{
    background: #efefef;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: .5rem;
}
.home-detail .detail-recommender p{
    position: absolute;
    top: .2rem;
    left: .3rem;
    font-size: .25rem;
    font-weight: 700;
}
.home-detail .detail-recommender .detail-recommender-img{
    height: .5rem;
    width: .5rem;
    margin: 0.1rem 0.2rem 0.1rem 1.2rem;
}
.home-detail .detail-recommender .detail-recommender-img img{
    height: .5rem;
    width: .5rem;
    border-radius: 50%;
}

/*评论样式*/
#comment .comment-head{
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.6rem;
    background: #1ba3ea;
    color: #fff;
    font-size:0.25rem;
    text-align: center;
    line-height: 0.6rem;
    letter-spacing: 2px;
    z-index: 15;
}
#comment .short-comment{
    position: relative;
    top:.6rem;
    padding-bottom: 40px;
}
#comment .short-comment .short-comment-number{
    font-size: 0.25rem;
    color: #333;
    line-height: 0.3rem;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0.15rem 0.1rem 0.15rem 0.2rem;
}
#comment .short-comment .short-comment-number i{
    float:right;
}
#comment .short-comment ul{
    padding: 0;
}
#comment .short-comment ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*font-size: 15px;*/
    color: #666;
    border-bottom: 1px solid #eee;
    padding: 0.2rem;
}
#comment .short-comment ul li img{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0.4rem;
    flex: 0 0 0.4rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
}
#comment .short-comment ul li .comment-content{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0.1rem;
}
#comment .short-comment ul li .comment-content .author{
    font-weight: 400;
}
#comment .short-comment ul li .comment-content i{
    float:right;
}
#comment .short-comment ul li .comment-content i img{
    width:0.25rem;
    height:0.25rem;
}
#comment .short-comment ul li .comment-content .text{
    margin: 0.1rem 0!important;
    line-height: 0.4rem;
    font-size: 0.25rem;
}
#comment .long-comment{
    position: relative;
    top:.6rem;
    padding-bottom: 10px;
}
#comment .long-comment .long-comment-number{
    font-size: 0.25rem;
    color: #333;
    line-height: 0.3rem;
    font-weight: 700;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0.15rem 0.1rem 0.15rem 0.2rem;
}
#comment .long-comment .long-comment-number i{
    float:right;
}
#comment .long-comment ul{
    padding: 0;
}
#comment .long-comment ul li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*font-size: 15px;*/
    color: #666;
    border-bottom: 1px solid #eee;
    padding: 0.2rem;
}
#comment .long-comment ul li img{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 0.4rem;
    flex: 0 0 0.4rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
}
#comment .long-comment ul li .comment-content{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding-left: 0.1rem;
}
#comment .long-comment ul li .comment-content .author{
    font-weight: 400;
}
#comment .long-comment ul li .comment-content i{
    float:right;
}
#comment .long-comment ul li .comment-content i img{
    width:0.25rem;
    height:0.25rem;
}
#comment .long-comment ul li .comment-content .text{
    margin: 0.1rem 0!important;
    line-height: 0.4rem;
    font-size: 0.25rem;
}
#comment .comment-foot{
    position: fixed;
    display: flex;
    width:100%;
    bottom: 0;
    height: 0.6rem;
    background: #3c3c3c;
}
#comment .comment-foot .foot-img{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 1.0rem;
    flex: 0 0 1.0rem;
    border-right: 1px solid #505050;
    color: #999;
    text-align: center;
    line-height: 0.6rem;
}
#comment .comment-foot .foot-img img{
    width:0.4rem;
    height:0.4rem;
    margin-top: 0.1rem;
}
#comment .comment-foot .foot-text{
    width:100%;
}
#comment .comment-foot .foot-text a{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    color: #d3d3d3;
    font-size: 0.25rem;
    text-align: center;
    line-height: 0.6rem;
    display: block;
}
#writeComm .writeComm-head{
    position: fixed;
    top: 0;
    width: 100%;
    height: 0.6rem;
    background: #1ba3ea;
    color: #fff;
    font-size:0.25rem;
    text-align: center;
    line-height: 0.6rem;
    letter-spacing: 2px;
    z-index: 15;
}
#writeComm .writeComm-head i img{
    position: absolute;
    left: 0.2rem;
    top: 0.1rem;
    width: 0.4rem;
    height: 0.4rem;
}
#writeComm .writeComm-content .writeComm-form{
    height:100%;
    width:100%;
    overflow: hidden;
    position: relative;
    top:0.6rem;
}
#writeComm .writeComm-content .writeComm-form textarea.error{
    border: 0.01rem solid red;
}
#writeComm .writeComm-content .writeComm-form .submit{
    background: #50a250;
    height: 0.7rem;
    line-height: 0.7rem;
    display: block;
    color: #fff;
    font-size: 0.32rem;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    width: 100%;
}
#writeComm .writeComm-content .writeComm-form .submit:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}
#writeComm .writeComm-content .writeComm-form textarea{
    width:98%;
    font-size: 0.3rem;
}