@charset "utf-8";
/*清除默认样式*/
body,p,ul,li,a,input{margin:0;padding:0;text-decoration:none;list-style: none;color:#000;}

body{
    position:relative;
    font-size: 0.2rem;
}

/*轮播图*/
.content .imgBox{
    height:230px;
    overflow: hidden;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    position: relative;
    top:-0.8rem;
    overflow: hidden;
}
.content .imgBox .bx-viewport{
    height:230px !important;
    overflow: hidden;
}
.bx-controls{
    position: absolute;
    left:44%;
}
.imgBox ul li a img{
    width:100%;
}
.imgBox ul li .slider-title{
    position: absolute;
    bottom: 2.95rem;
    line-height: 1.2;
    left: 0;
    padding: 0 .48rem;
    font-weight: 300;
    font-size: .35rem;
    color: #fff;
}
/*头部样式*/
.header{
    display: flex;
}
.header .list-header{
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    top: 0;
    z-index: 4;
    height: 50px;
    line-height: 50px;
    width: 100%;
    background: #00a2ea;
    display: -webkit-box;
    display: -webkit-flex;
    position: fixed;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.header .list-header .header-icon{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}
.header .list-header img{
    margin-top: 5px;
}
.header .list-header .header-content{
    -webkit-box-flex: 6;
    -webkit-flex: 6;
    flex: 6;
    padding-left: .05rem;
}
.header .list-header .header-content p a{
    color:#FFF;
    font-size: 0.25rem;
}
.header .list-header .changeCol{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
}

/*homepage样式*/
.homeContent{
    width:100%;
    overflow: hidden;
}
.homeContent ul li a{
    display: flex;
    height:1.0rem;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0.15rem;
    padding:0.15rem 0 0.15rem 0;
}
.homeContent ul li a span{
    flex:8;
    font-size:0.25rem;
    height:0.9rem;
    line-height: 0.5rem;
    overflow: hidden;
    margin-right: 0.1rem;
}
.homeContent ul li a div{
    flex:2;
}
.homeContent ul li a div img{
    width:1.0rem;
    height:0.9rem;
}
/*detail详细页样式*/
.home-detail .detail-header .detail-header-img img{
    width:100%;
    height:4.33rem;
}
.home-detail .detail-content{
    padding:0.15rem;
    line-height: 0.4rem;
    font-size: 0.28rem;
}
.home-detail .detail-content .meta .avatar{
    width:0.3rem;
    height:0.3rem;
    border-radius: 5px;
    margin-right: .133rem;
}
.home-detail .detail-content .content img{
    width:100%;
    display: block;
    margin: .3rem auto;
}
.home-detail .detail-content p{
    margin: 0.3rem 0!important;
    color:#616466;
}
.home-detail .detail-content .view-more{
    margin-bottom: .667rem;
    text-align: center;
}
.home-detail .detail-content .view-more a{
    width: 100%;
    display: block;
    height: .6rem;
    line-height: .6rem;
    background: #f0f0f0;
    color: #b8b8b8;
    word-break: break-all;
}
.home-detail .detail-content .question{
    border-top: .133rem solid #f6f6f6;
}
.home-detail .detail-content .question .content a{
    color:#4786b3;
}
.home-detail .detail-footer{
    position: fixed;
    width: 100%;
    height: 44px;
    line-height: 44px;
    left: 0;
    bottom: 0;
}
.home-detail .detail-footer .menu-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    background: #fff;
}
.home-detail .detail-footer .menu-wrapper .menu-item{
    position: relative;
    width: 20%;
    color: #999;
}
.home-detail .detail-footer .menu-wrapper .menu-item img{
    margin: 4px auto;;
    display: block;
}
.home-detail .detail-footer .menu-wrapper .menu-item span{
    position: absolute;
    top: 8px;
    right: 0px;
    width: 24px;
    height: 14px;
    font-size: 12px;
}
/*首页侧边栏样式*/
.wrap{
    z-index: 10;
}
.wrap .sidebar{
    position: fixed;
    width: 60%;
    height: 100%;
    background: #232a30;
    z-index: 12;
    color: #94999d;
    display: flex;
    flex-direction: column;
    left:-60%;
}
.active{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.wrap .sidebar .top{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
}
.wrap .sidebar .top .avatar{
    width: 36px;
    border-radius: 50%;
    line-height: 36px;
    margin-right: 12px;
    border: 0;
    vertical-align: middle;
    color: transparent;
    font-size: 0;
}
.wrap .sidebar .top  .name{
    font-size:.3rem;
}
.wrap .sidebar .menubar{
    height: 60px;
    display: flex;
    margin-bottom: 0.1rem;
    padding-bottom: 0.05rem;
}
.wrap .sidebar .menubar div{
    width: 33.3%;
    text-align: center;
    line-height: 1.2;
}
.wrap .sidebar .menubar div .icon{
    font-size: 24px;
}
.wrap .sidebar .menubar div span{
    transform: scale(.75);
    display: inline-block;
    font-size: .25rem;
}
.wrap .sidebar .menu-wrapper{
    padding: 0 20px;
    flex: auto;
    overflow: auto;
}
.wrap .sidebar .menu-wrapper ul{
    padding: 0;
}
.wrap .sidebar .menu-wrapper ul .menu-item{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}
.wrap .sidebar .menu-wrapper ul .menu-item .menu-item-title{
    color:#FFF !important;
    width:80%;
    font-size: 0.25rem;
    float:left;
}
.wrap .sidebar .menu-wrapper ul .menu-item .menu-item-pic{
    color:#FFF !important;
    width:10%;
    float:right;
}
.wrap .sidebar .foot-menu{
    flex: 0 0 40px;
    line-height: 40px;
    text-align: center;
    display: flex;
}
.wrap .sidebar .foot-menu .foot-menu-lx,.foot-menu-yj{
    width: 50%;
    font-size: .25rem;
}
.wrap .sidebar-mask{
    position: fixed;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 11;
    background: #000;
    opacity: .3;
}

/*主题日报列表页*/
.themContent{
    width:100%;
    overflow: hidden;
}
.themHeader .them-header-img img{
    width:100%;
    height:4.33rem;
}
.themContent ul li a{
    display: flex;
    height:1.0rem;
    border-bottom: 1px solid #f1f1f1;
    margin: 0 0.15rem;
    padding:0.15rem 0 0.15rem 0;
}
.themContent ul li a span{
    flex:8;
    font-size:0.25rem;
    height:0.9rem;
    line-height: 0.5rem;
    overflow: hidden;
    margin-right: 0.1rem;
}
.themContent ul li a div{
    flex:2;
}
.themContent ul li a div img{
    width:1.0rem;
    height:0.9rem;
}