<div class="home-detail">
    <div class="detail-recommender" ng-repeat="recommender in recommenders">
        <p>推荐者：</p>
        <div class="detail-recommender-img"><img src="{{recommender.avatar | attachImageUr}}" /></div>
    </div>
    <div class="detail-content" ng-bind-html="themDetail.body | attachImageUr"></div>

    <div class="detail-footer">
        <ul class="menu-wrapper">
            <li class="menu-item"><back><img src="images/back.png" /></back></li>
            <li class="menu-item"><img src="images/down.png" /></li>
            <li class="menu-item" ng-show="isBeforeShow">
                <img src="images/good.png" ng-click="goodClick()" />
                <span>{{storyExtra.popularity }}</span>
            </li>
            <li class="menu-item" ng-show="isNowShow">
                <img src="images/good1.png" ng-click="goodClick()" />
                <span>{{storyExtra.popularity+1 }}</span>
            </li>
            <li class="menu-item"><img src="images/upload.png" /></li>
            <li class="menu-item">
                <img src="images/message.png" />
                <span>{{storyExtra.comments  }}</span>
            </li>
        </ul>
    </div>
</div>